asgiref \
certifi \
cffi \
chardet \ 
cryptography \
defusedxml \
Django \
django-allauth \
django-cors-headers \
djangorestframework \
idna \
libusb1 \
mysqlclient \
oauthlib \
parameterized \
pip \
pkg-resources \
prompt-toolkit \
pycparser \
Pygments \
PyJWT \
python3-openid \
pytz \
regex \
requests \
requests-oauthlib \
setuptools \
six \
social-auth-app-django \
social-auth-core \
sqlparse \
typing \
urllib3 \
wcwidth 
